body {
    height: 100%;

    section {

        animation: fadeInAnimation 3s;
        animation-iteration-count: 1;
    
    
        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
        
            100% {
                opacity: 1;
             }
        }
    }

}

.container {
    padding-top: 40px;
    padding-bottom: 96px;
}

hr {
    margin: 0 0 20px 0 !important;
}
