body {
    height: 100%;
	margin-bottom: 56px;

    // This makes every page of the website fancier with an fade in animation.
    .schema-section,
    .workout-section,
    .contact-section,
    .oefening-section,
    .homepage-section,
    .overons-section,
    .buildYourWorkout-Section
     {
        animation: fadeInAnimation 3s;
        animation-iteration-count: 1;
    
        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
        
            100% {
                opacity: 1;
             }
        }
    }

}

.container {
    padding-top: 40px;
    padding-bottom: 40px;
}

hr {
    margin: 0 0 20px 0 !important;
}
article.oefeningen-schema {
	.col-8 {
		position: relative;

		p {
			&.attributes {
				margin-bottom: .5rem;
	
				>span.musclegroup {
					font-style: italic;
				}
			}
	
			&.explanation {
				>ul, ol {
					margin-bottom: 0;
				}
			}
		}
	}

	label.customCheckbox {
		position: absolute;
		top: 0;
		right: 0;
		width: unset;
	}
}

#js-filters div.filters {
	input[type="search"] {
		height: 100%;
		width: 100%;
	}
	>div {
		min-width: 11rem;
	}
	>div.col-1 {
		min-width: 6rem;
	}
}