// On this file we use the colors of every Bootstrap element
$primary: #5eb4a8;
$primary-light: #8ed3c8;
$primary-dark: #50948a;
$black: #000000;
$white: #ffffff;
$grey: #EBEBEB;

@import "../node_modules/bootstrap/scss/bootstrap.scss";