@use '../custom' as *;

.buildYourWorkout-Section {
    button {
        color: $white;
    }

    img {
        width: 15%;
    }

    .img-middle {
        width: 100%;
    }

    .img-end {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
}