@use '../custom' as *;

.login-section {
    .form {
        width: 45%;
        margin: auto;

        .login-form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 0 15%;

            .email {
                color: $primary;
            }
    
            .password {
                color: $primary;
            }

            input {
                width: 100%;
                padding: 10px 0;
                color: $primary;
                margin-bottom: 30px;
                border: none;
                border-bottom: 1px solid $black;
                outline: none;
            }
        }

        .buttons {
            color: rebeccapurple;
        }
    }
}
