@use '../custom' as *;

.navbar-section {
    .bg-customnavbar {
        background-color: $primary;
    
        img {
            width: 150px;
            height: auto;
        }
    }

    .d-flex {
        .btn {
            background-color: $white;

            &:hover {
                background-color: #50948A !important;
            }

            a {
                text-decoration: none;
                color: $primary !important;

                &:hover {
                    color: $white !important;
                }
            }
        }
    }
}

