@use '../custom' as *;

.navbar-section {
    .bg-customnavbar {
        background-color: $primary;
    
        img {
            width: 150px;
            height: auto;
        }
    }

    .d-flex {
        .dropdown {
            position: relative;
            display: inline-block;

            &:hover {
                .dropdown-content {
                    display: block;
                    width: 1%;
                }
            }

            .dropbtn {
                background-color: $white;
                color: $primary;
                padding: 16px;
                font-size: 16px;
                border: none;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;

                .btn {
                    background-color: $white;
                    color: $primary;
        
                    &:hover {
                        background-color: $primary-dark !important;
                        color: $white !important;
                    }
                }
              }
        }
    }

    .modal-content {

        .modal-header {
            
        }

        .modal-body {

            .login-section {
                padding-bottom: 56px;
            
                .form {
                    width: 80%;
                    margin: auto;
            
                    .login-form {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;

                        .username {
                            color: $primary;
                        }
            
                        .email {
                            color: $primary;
                        }
                
                        .password {
                            color: $primary;
                        }
            
                        input {
                            width: 100%;
                            padding: 10px 0;
                            color: $black;
                            margin-bottom: 30px;
                            border: none;
                            border-bottom: 1px solid $black;
                            outline: none;
                        }
                    }
            
                    .fieldset-signup {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        padding: 0 15%;
            
                        input {
                            width: 100%;
                            padding: 10px 0;
                            color: $black;
                            margin-bottom: 30px;
                            border: none;
                            border-bottom: 1px solid $black;
                            outline: none;
            
                        }
            
                        label {
                            color: $primary;
                            ;
                        }
                    }
            
                    .buttons {
                        align-items: center;
            
                        .btn {
                            width: 35%;
                            height: 45px;
                            background-color: $primary;
                            color: $white;
            
                            &:hover {
                                background-color: $primary-dark;
                                color: $white;
                            }
                        }
            
                        .button-below {
                            border: none;
                            background-color: $white;
                        }
                    }
                }
            }
        }
    }
}

