.overons-section {
    .content {
        .col-8 {
            img {
                color: #5eb4a8;
                width: 2%;
                height: 2%;
            }
        }
    }
}
        
        
      