@use '../custom' as *;

.profilepage-section {
    .profileInformation {
        input {
            width: 100%;
            margin-bottom: 30px;
            border-bottom: 1px solid $primary;
            border: none;
            outline: none;
        }
    }
}