.section-profilepage {
    .container-fluid {
        .profile {
            img {
                width: 7%;
            }
        }

        .information {
            .profileInformation {
                width: 20%;

                .cresedentials {
                    hr {
                        width: 90%;
                    }

                    button {
                        color: white;
                    }
                }
            }

            .profileFavourites {
                width: 20%;

                hr {
                    width: 100%;
                }

                a {
                    width: 70%;
                    color: white;
                    justify-content: center;
                }
            }
        }
    }
}