.section-profilepage {
    .profileInformation {
        
        input {

            width: 100%;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #5EB4A8;
            outline: none;
        }
    }
}