@use '../custom' as *;

.schema-section {
    .row {
        .col-custom {
            height: 66vh;
        }
    
        img {
            width: 215px;
            height: 160px;
            object-fit: cover;
        }

        .col-test {
            position: relative;

            .row-save {
                position: absolute;
                bottom: 0;
                width: 100%;
            }

            .btn {
                color: $black !important;
    
                &:hover {
                    background-color: $primary-dark !important;
                    color: $white !important;
                }
            }
        }       
    }
    .row {
        .oefeningen-schema {
            height: 233px;
        }
    }
}